h1 {
	background: none repeat scroll 0 0 #e95d0f;
    /*border: 1px solid #CCCCCC;*/
    -moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	border-radius: 17px;
    font-size: 24px;
    height: 20px;
    line-height: 22px;
    margin-bottom: 15px;
    padding: 8px;
	text-indent:0.3em;
	color:#fff;
}